.zodiac-card {
  flex: 0 0 25%;
  background-color: var(--color2);
  margin: .25rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .25rem 0;
  color: var(--color4);
  /* max-width: 25%; */
  aspect-ratio: 16/ 9;
}

.zodiac-card img {
  height: 50%;
}

.zodiac-card .name {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Space and Astronomy';
}

.zodiac-card p {
  margin: .25rem 0;
}