*, *::after, *::before {
  box-sizing: border-box;
}

main {
  display: flex;
  margin-bottom: 40px;
  background-size: cover;
  height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* overflow: scroll; */
  /* scrollbar-width: none;
  -ms-overflow-style: none; */
}

/* main::-webkit-scrollbar {
  display: none;
} */

.container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slider {
  display: flex;
  flex-grow: 1;
  width: calc(100% - 10rem);
}

.slider-button {
  border: none;
  border-radius: 5px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 5rem;
  margin: .25rem 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}